 <div class="footer-copyright">
        <div class="container-fluid" <style>
        <style> p {float: right; margin: 250px}
        </style>
        <p><strong>Trademark @GoCamp 2018<strong></p>

        </div>
    </div>
</body>
</html>